.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.flex-container {
    display: flex;
  }

@font-face {
font-family: "iransans";
src: url("../fonts/IRANSansWeb.eot");
src: url("../fonts/IRANSansWeb.woff") format("woff"),
url("../fonts/IRANSansWeb.woff2") format("opentype"),
url("../fonts/IRANSansWeb.ttf") format("ttf");
}
main{
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    height: 2000px;
    font-family: 'iransans';
}

header{
    background-color: #c1c1c1;
    height: 90px;
    padding: 15px 20px 20px 30px;
}

p{
    font-size: smaller;
}

li{
    font-size: smaller;
}

#shoppingCart{

    width: 5%;
    border-right: 1px solid black;
    margin-top: 20px;
}

#bu{
    padding-top: 5px;
    padding-right: 20px;
    border: none;
    background-color: #c1c1c1;
}

.enterRegister{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.enterRegister li{
    float: left;
    padding-right: 10px;
    
}

.enterRegister li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.enterRegister li a:hover{
    color: blue;
}
#registering{
    background-color: #f8f9fa;
    margin-top: 30px;
    padding: 15px 35px 0 10px;
    margin-left: 10px;
    height: 30px;
    background-image: url(../images/sabad.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 122px;
    border-radius: 5px;

}

#searchBox{
    padding-top: 10px;
    height: 40px;
    margin-top: 22px;
}


#input-button{
    float: right;
    height: 45px;
    border: none;
}

#btn-search{
    height: 44px;
    border: none;
}

#input-box{
    float: right;
    height: 42px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    direction: rtl;
    padding-right: 20px;
    background-color: #f8f9fa;
}

#img-header{
    padding-right: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#content{
    padding: 25px 30px 20px 30px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    margin-right: 12px;
    border-radius: 5px;
  }

  .imgCard{
      text-align: center;
  }

  .nameCard{
    text-align: center;
    direction: rtl;
  }

  .explainCard{
      direction: rtl;
      text-align: center;
  }

  .propertyCard{
      direction: rtl;
  }
  
  .price {
    direction: rtl;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
  }

  .priceNo{
    direction: rtl;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    text-decoration: line-through;
  }

  .count{
      text-align: right;
      font-size: 15px;
      color: rgb(13, 7, 80);
  }

  .countNo{
    text-align: right;
    font-size: 15px;
    color: rgb(201, 11, 11);
  }
  
  .card button {
    text-align: center;
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #7a7a7a;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(75, 74, 74);
    font-family: 'iransans';
  }

  #noBtn{
    text-align: center;
    border: none;
    outline: 0;
    padding: 10px;
    color: rgb(13, 7, 80);
    background-color: #c1c1c1;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(75, 74, 74);
    font-family: 'iransans';
  }

  .addToBasketBtn{
      text-align: right;
      padding-right: 50px;
  }

  .card:hover{
      box-shadow: 3px 3px rgba(0, 0, 0, 0.1)
  }
  
  .card button:hover {
    opacity: 0.7;
  }

#priceDisplay{
    text-align: left;
}


#countDisplaay{
    text-align: right;
}

#guid{
    background-color:  #efefef;
    padding-bottom: 20px;
}

#guid-icon{
    padding: 20px 0 0 30px;
}

#guid-logo{
    padding-bottom: 20px;
}

#guide-telegram{
    text-align: right;
    margin-left: 60px;
}

#guide-what{
    padding-left: 20px;
}

#guide-insta{
    text-align: right;
    margin-left: 60px;
}

#guide-tw{
    padding-left: 20px;
}

#pdec{
    text-justify: inter-word;
}

#register-khabarname{
    text-align: right;
}

#register-khabarname h3{
    color: black;
}

#register-khabarname a{
    display: block;
    text-decoration: none;
}

#guide-fot{
    text-align: center;
}

#guide-fot a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

#guide-fot a:hover{
    display: block;
    text-decoration: none;
    color: rgb(28, 15, 136);
    padding-bottom: 1px;
}

#guid-ghos{
    text-align: center;
}

#guid-ghos a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}

#guid-ghos a:hover{
    display: block;
    text-decoration: none;
    color: rgb(28, 15, 136);
    padding-bottom: 1px;
}

footer{
    background-color: rgb(161, 159, 159);
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}




